/*ESTILO UNIVERSAL*/

/* CORPO */
body{
    margin: auto;
}

/* MARGEM CONTEÚDO */
.startEnd{
    flex: 1;
}

/* CONTEÚDO */
.content{
    display:flex;
    width: 100%;
}
.center{flex: 10;
}

/* RODAPÉ */
h2{
    text-align: center;
    font-size: 20px;
}

/*
    NAVBAR
*/

nav hr{
    background: blueviolet;
    margin-top: auto;
    height: 6px;
    position:relative;
    top: 0;
}

/*ESPAÇAMENTO TOPO*/
.backgroundNavbar{
    padding: 10px;
}
.backgroundNavbar div{
    display: flex;
}

/* NAVBAR FIXO */
.navbar{
    background-color: white;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%
}
.navbar div{
    align-items: center;
    display: flex;
    padding: 10px 0;

}
.navbar .center{
    flex: 8;
}
.navbar img{
    flex: 2;
}
.navbar h1{
    font-size: 20px;
    margin: 0 10px;
}
.navbar a{
    color: purple;
}
.navbar a:any-link{
    color: blue;
}
.navbar a:hover{
    color: black;
}


/* 
ESTILOS NÃO UNIVERSAIS
*/

/* CAPA */
.cover{
    display:flex;
    width: 100%;
    background-color: rgb(143, 142, 142);
}
.cover .imgCenter{
    display: block;
    width: 100%;
}

/* FORMULÁRIO */
textarea{
    width:301px;
    font-size: 15px;
    resize:both;
}
textarea::placeholder{color: gray}
.inputText{
    font-size: 15px;
    width: 300px;
}
.inputText::placeholder{color: gray}